.date-card {
    display: flex;
    width: 14.28%;
    height: 5rem;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    &__text-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__available {
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:active {            
            background-color: lightcoral;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
        }
    }

    &__unavailable {
        color: grey;
        margin: 0;
    }
}