@use '../../styles/partials/fonts' as *;

.alert-text {
    color: #1418A4;
    margin: 0 0 0 3.5rem;
    font-family: 'Google Sans';
    font-size: 18px;
    background: url(../../assets/icons/id.svg) no-repeat 40% 50%;
    margin-bottom: 12rem;
    height: 35px;
    text-align: center;
    vertical-align: baseline;
    padding-top: .5rem;
    
    &--red {
        color: red;
    }
}