@use '../../styles/partials/fonts' as *;


.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10rem;
    gap: 1rem;
}
.alert-text {
    color: #1418A4;
    margin: 0;
    font-family: 'Google Sans';
    font-size: 18px;
    height: 35px;
    text-align: center;
    vertical-align: baseline;
    padding-top: .5rem;
    
    &--red {
        color: red;
    }
}