.search-header {
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem;

    &__label {
        margin-right: 1rem;
        color: #202124;
    }
    &__label-health {
        margin-right: 1rem;
        background: url('../../assets/icons/notification.svg') no-repeat 100% 0%;
        padding-right: .75rem;
    }
    &__items-right, &__items-left {
        display: flex;
        align-items: flex-end;
    }
    &__bento-icon {
        width: 2rem;
        height: 2rem;
        background: url('../../assets/icons/bento.svg') no-repeat 50% 50%;
        margin-right: 1.5rem;
    }
    &__avatar {
        width: 2rem;
        height: 2rem;
        background: grey;
        border-radius: 50%;
    }
    &__link {
        text-decoration: none;
        color: #202124;
    }
}
#link {
    cursor: pointer;
}