.calendar-page {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-left: 10rem;

    &__back-button {
        height: 2rem;
        width: 2rem;
    }
    
    &__dr-title {
        height: 2rem;
        width: 50rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        background-color: rgba(0,0,0,0.10);
        margin-bottom: 2rem;
        border-radius: 5px;
        font-weight: 600;
    }

    &__form-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 5rem;
    }
}

.calendar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 25rem;
    // border: 1px solid black;
    border-radius: 5px;
    box-shadow: -2px 19px 23px 1px rgba(0,0,0,0.25);

    &__month-title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        gap: 1rem;
    }

    &__month-title {
        margin: 0 4.5rem 0 auto;
        padding-left: 3rem;
        color: rgba(0,0,0,0.60)
    }

    &__next-button {
        margin-right: 3rem;
        height: 1rem;
    }

    &__day-bar {
        display: flex;
        height: 2rem;
        align-items: center;
        margin: 0 1rem;

        &--day {
            width: 14.28%;
            text-align: center;
            color: rgba(0,0,0,0.60);
        }
    }

    &__calendar-wrapper {
        display: flex;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        padding: 0 1rem 2rem 1rem;
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    &__button {
        width: 50%;
        height: 3rem;
    }
}

.appointment-time {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--none {
        display: none;
    }
    
    &__timeframes {
        font-size: 2rem;
        margin: 0;
        width: 20rem;
        border-radius: 5px;
        padding: 0.5rem 0 0.5rem 1rem;
        box-shadow: -1px 5px 7px 0px rgba(0,0,0,0.26);
    }
}

.confirm-button {
    font-size: 1.25rem;
    color: rgba(0,0,0,0.60);
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: 25px;


    margin: 3rem 15rem 1rem auto;
}