@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Google Sans';
    &__logo {
        width: 6rem;
        height: 2rem ;
        margin-left: 1rem;
    }
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 1.2rem ;
        font-family: sans-serif ;
        margin: 1rem 1.5rem 1rem 0.5rem;
        font-family: 'Google Sans';
        color: #5F6368;
    }
    &__patient {
        vertical-align: sub;
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    &__search-bar {
        width: 36rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: 0.01rem;
        border: 0.09rem solid rgb(180, 178, 178);
        background-color: #F1F3F4;
        border-radius: 0.5rem;
    } ::placeholder {
        font-family: 'Google Sans'
    }
    &__row-avatar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__avatar-box {
        border: 0 solid white;
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
        margin: 1rem 2rem 1rem 1rem;
        border-radius: 50%;
        background-color:rgb(180, 178, 178) ;
    
    }
}