@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;

.header {
    display: flex;
    justify-content: space-between;
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 1.5rem ;
        font-family: sans-serif ;
        margin: 1rem 1.5rem 1rem 1.5rem;
        font-family: 'Google Sans';
    }
    &__search-bar {
        width: 36rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: 0.01rem;
        border: 0.09rem solid rgb(180, 178, 178);
    } ::placeholder {
        font-family: 'Google Sans'
    }
    &__row-avatar {
        width: 3rem;
        height: 3rem;
        margin: 1rem 2rem 1rem 1rem;
        border-radius: 50%;
        background-color:rgb(180, 178, 178) ;
    }
}