
.footer {

    &__list {
        display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background-color: #F8F9FA;
    padding-left: 1rem;
    }

    &__list-item {
        padding: 1rem;
        font-size: 1.2rem;
    }
}
