@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;

.homepage {
    &__main {
        display: flex;
        font-family: 'Google Sans';
    }
    &__header {
        display: flex;
    }
    &__text {
        margin: 0;
        color: black;
        padding-top: 1rem;
        font-size: 20px;
        padding-left: 3rem;

        &--blue {
            color: #1418A4;
            font-size: 20px;
            background: url('../../assets/icons/id.svg') no-repeat 0% 50%;
            margin-top: 0;
            height: 50px;
            padding-top: 1rem;
            padding-left: 3rem;
        }
        &--red {
            color: red;
            font-size: 20px;
        }
    }
    &__avatar {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        background: url('../../assets/Ellipse.png');
        margin-right: 3rem;
    }
    &__text-container {
        margin-right: 15rem;
    }
    &__button {
        padding: 1rem 5rem;
        background: #34A853;
        border: none;
        color: white;
        border-radius: 30px;
        margin: .25rem 0;
        font-size: 1.5rem;
        &:hover {
            background: #2e9249;
        }
    }
    &__education {
        border: 2px solid #F5F5F5;
        border-radius: 10px;
    }
    &__text-heading {
        background: #F8F9FA;
        margin: 0;
        padding: 1rem;
        font-size: 24px;
    }
    &__text-subheading {
        margin: 0;
        padding: 1rem 1rem 0;
        font-size: 24px;
    }
    &__text-body {
        padding: 0 1rem;
        color: #5F6368;
        font-size: 18px;
    }
    &__text-read-more {
        text-align: right;
        color: blue;
        padding: 0 1rem;
    }
    &__calendar-content {
        margin-top: 2rem;
        display: flex;
        width: 100%;
    }
    &__calendar-card-medical {
        background: #F5F5F5;
        border-radius: 12px;
        padding-left: 2rem;
        padding-bottom: 2rem;
        box-shadow: 0px 5px 5px 0px #dad9d9;

        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__calendar-card-medical-text {
        margin: 0;
        margin-bottom: .5rem;
    }
    &__calendar-card-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__calendar-card-medical-heading {
        color: #4285F4;
        background: url('../../assets/icons/medical.svg') no-repeat 0% 50%;
        padding-left: 3.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0;
    }
    &__calendar-card-medical-subheading {
        margin: 0;
        margin-bottom: .75rem;
        margin-top: 0rem;
    }
    &__calendar-card-upcoming {
        border: 2px solid #e4e4e4;
        border-radius: 12px;
        height: 50%;
        padding: 0 2rem;
        margin-top: 2rem;
    }
    &__education {
        margin-top: 4rem;
    }
    &__appointment-button-container {
        margin-top: 4rem;
        margin-left: 4.5rem;
    }
    &__appointment-button {
        box-shadow: 5px 5px 5px 0px #9b9a9a;
        border: none;
        border-radius: 30px;
        background: url('../../assets/icons/add.svg') no-repeat 10% 50%;
        background-color: white;
        padding: 1rem 2rem 1rem 4rem;
        font-weight: 600;
        font-size: 20px;
        color: #3D4043;
    }

}
.calendar-page__dr-title, .calendar-page__back-button {
    display: none;
}
.calendar-page {
    width: 50%;
    margin-left: 0;
    padding: 0;
}
.text-bold {
    font-weight: 600;
}